<ion-view view-title="{{ title | translate }}" class="appBackground">
    <ion-content>
        <div class="searchBarView card item-input-inset" ng-show="showSearch">
            <label class="searchField item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'list_search' | translate }}" ng-model="searchQuery.value" ng-change="filterItems(searchQuery.value)">
            </label>
            <button class="button button-clear " ng-click="cancelSearch()">
                <i class="icon ion-close-circled searchCancelButton"></i>
            </button>
        </div>
        
        <list-template data="item" ng-repeat="item in filteredItems" ng-click="itemClickHandler(item)">
        </list-template>

        <div class="card" ng-show="!filteredItems.length">
            <div class="item item-text-wrap">
                {{'empty_search' | translate }}
            </div>
        </div>
    </ion-content>
</ion-view>
